<section *ngIf="data == 'web'" class="container">
	<button mat-mini-fab (click)="onNoClick()" class="close"><i class="fa fa-times" arial-hidden="true"></i></button>
	<h2>Web Developement</h2>
</section>
<section *ngIf="data == 'workshop'" class="container">
	<button mat-mini-fab (click)="onNoClick()" class="close"><i class="fa fa-times" arial-hidden="true"></i></button>
	<h2>WorkShop</h2>
</section>
<section *ngIf="data == 'event'" class="container">
	<button mat-mini-fab (click)="onNoClick()" class="close"><i class="fa fa-times" arial-hidden="true"></i></button>
	<h2>Event Management</h2>
</section>
<section *ngIf="data == 'trip'" class="container">
	<button mat-mini-fab (click)="onNoClick()" class="close"><i class="fa fa-times" arial-hidden="true"></i></button>
	<h2>Trips and Town</h2>
</section>
