<app-header></app-header>
<section class="desktop" *ngIf="!mobile">
	<section class="social">
		<a href="https://fb.com/the.vishal.pandey" target="_blank"><button mat-button><i class="fa fa-facebook" aria-hidden="true" style="font-size: 30px; color: #3B5998;"></i></button></a>
		<button mat-button><i class="fa fa-twitter" aria-hidden="true" style="font-size: 30px; color: #1dcaff;"></i></button>
		<a href="https://api.whatsapp.com/send?phone=919717130893" target="_blank"><button mat-button><i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 30px; color: #25D366;"></i></button></a>
	</section>
	<router-outlet></router-outlet>
</section>
<section class="mobile" *ngIf="mobile">
	<section class="mobile" *ngIf="mobile">

	<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="false" class="example-sidenav" [fixedInViewport]="'Fixed'" [fixedTopGap]="'0'" [fixedBottomGap]="'0'">
    	<!-- <app-header></app-header> -->
    	<mat-toolbar class="hamburger-menu" style="background-color: #00796B; overflow: initial;">
    		<span class="fill"></span>
	      <button mat-mini-fab (click)="sidenav.toggle()" style="background-color: #4DB6AC;"><i class="fa fa-close" aria-hidden="true" style="font-size: 25px;"></i></button>
    	</mat-toolbar>
    	<section class="hamburger-menu-content">

    		<button mat-button>Home</button>
				<button mat-button>About Us</button>
				<button mat-button [matMenuTriggerFor]="serviceMenu" >Services</button>
				<button mat-button>Contact Us</button>
				<button mat-button>Register</button>

				<mat-menu #serviceMenu="matMenu" [overlapTrigger]="flase" [dir]="right">
				  <button mat-menu-item>Web Developement</button>
				  <button mat-menu-item>Workshops</button>
				  <button mat-menu-item>Event Maneagement</button>
				  <button mat-menu-item>Trips and Town</button>
				</mat-menu>
    	</section>
    </mat-sidenav>

    <mat-sidenav-content>
      
    	<mat-toolbar class="hamburger-menu">
    		<span class="fill"></span>
	      <button mat-button (click)="sidenav.toggle()"><i class="fa fa-bars" aria-hidden="true" style="font-size: 25px;"></i></button>
    	</mat-toolbar>
    	<section class="social-mobile">
				<a href="https://fb.com/the.vishal.pandey" target="_blank"><button mat-raised-button><i class="fa fa-facebook" aria-hidden="true" style="font-size: 25px; color: #3B5998;"></i></button></a>
				<button mat-raised-button><i class="fa fa-twitter" aria-hidden="true" style="font-size: 25px; color: #1dcaff;"></i></button>
				<!-- <button mat-raised-button><i class="fa fa-google" aria-hidden="true" style="font-size: 25px; color: #4885ed;"></i></button> -->
				<a href="https://api.whatsapp.com/send?phone=919717130893"><button mat-raised-button><i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 25px; color: #4885ed;"></i></button></a>
			</section>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
</section>

<app-footer></app-footer>